.container {
    max-width: 120rem;
    margin: 8rem auto;
    box-shadow: var(--shadow-dark);

    min-height:50rem;

    @media only screen and (max-width: $bp-largest){
        margin:0;
        max-width: 100%;
        width: 100%
    }
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
   border-bottom: var(--line);
   height: 7rem;
 }

 .content {
    display: flex;

    @media only screen and (max-width: $bp-medium){
        flex-direction: column;;
    }
 }

